* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

#nav {
  display: none;
  gap: 15px;
  text-transform: uppercase;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}